{% assign event = include.event %}

<div class="card card--featured-event-index">
  <div class="card-image" style="background-image: url('{{event.event_image.url}}')"></div>

  <div class="card-body">
    <h2 class="heading-a">Featured Event</h2>
    <div>
      <div class="card-title">
        {% if event.external_url and event.external_url.size != 0%}
        <div class="external-link">
          <a class="link--secondary card__title" href="{{ event.external_url }}">
            {{ event.title }}
          </a>
          <span class="material-icons">open_in_new</span>
        </div>
  
        {% else %}
  
        <div class="card-link">
          <a class="link--secondary card__title" href="{{ event.pretty_url | prepend: '/events/' | relative_url  }}">
            {{ event.title }}
          </a>
        </div>
        {% endif %}
      </div>
      <span class="card__date">{{ event.event_start | date: "%B %d, %Y" }}</span>
    </div>

    <div class="link-container">
      <a class="link link--arrow" href="{{ '/events/' | relative_url }}">All Events</a>
    </div>
  </div>
</div>
